<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Агенство недвижимости</title>
    <link th:href="@{/common.css}"
          rel="stylesheet"
          type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div th:insert="fragments/header :: header"></div>
    <div class="d-flex justify-content-start">
        <div id="search-block" class="d-flex justify-content-start align-items-center">
            <p class="fs-3">Поиск объявлений</p>
            <form th:action="@{/}" th:method="GET" th:object="${searchForm}">
                <div style="width: 100%">
                    <label class="fs-5 text-dark" for="text">Запрос</label>
                    <input style="width: 100%" type="text" id="text" th:name="text" th:value="*{text}"/>
                </div>
                <div class="d-flex flex-column justify-content-start">
                    <p class="fs-5 text-dark mb-0">Цена</p>
                    <div class="d-flex justify-content-start">
                        <div class="d-flex justify-content-start align-items-start flex-column ms-auto">
                            <label class="fs-8 text-black-50" for="priceMin">От</label>
                            <input style="width: 90%" type="number" id="priceMin" th:name="priceMin" th:value="*{priceMin}"/>
                        </div>

                        <div class="d-flex justify-content-start align-items-start flex-column">
                            <label class="fs-8 text-black-50" for="priceMax">До</label>
                            <input  style="width: 90%" type="number" id="priceMax" th:name="priceMax" th:value="*{priceMax}"/>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-start">
                    <p class="fs-5 text-dark mb-0">Размер залога</p>
                    <div class="d-flex justify-content-start">
                        <div class="d-flex justify-content-start align-items-start flex-column ms-auto">
                            <label class="fs-8 text-black-50" for="pledgeMin">От</label>
                            <input style="width: 90%" type="number" id="pledgeMin" th:name="pledgeMin" th:value="*{pledgeMin}"/>
                        </div>

                        <div class="d-flex justify-content-start align-items-start flex-column">
                            <label class="fs-8 text-black-50" for="pledgeMax">До</label>
                            <input  style="width: 90%" type="number" id="pledgeMax" th:name="pledgeMax" th:value="*{pledgeMax}"/>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-start ps-1 pt-2">
                    <input class="form-check-input" type="checkbox" th:checked="*{allowedChildren}" id="allowedChildren" th:name="allowedChildren" th:value="true"/>
                    <label class="form-check-label" for="allowedChildren">Можно с детьми</label>
                </div>
                <div class="d-flex justify-content-start ps-1 pt-1">
                    <input class="form-check-input" type="checkbox" th:checked="*{allowedAnimals}" id="allowedAnimals" th:name="allowedAnimals" th:value="true"/>
                    <label class="form-check-label" for="allowedAnimals">Можно с животными</label>
                </div>
                <div>
                    <label class="form-check-label" for="propertyTypeId">Тип объекта</label>
                    <select id="propertyTypeId" th:name="propertyTypeId" class="form-select">
                        <option value="" th:selected="*{propertyTypeId} == null">Не выбрано</option>
                        <option th:each="type : ${propertyTypes}" th:text="${type.name}" th:value="${type.id}" th:selected="${type.id} == *{propertyTypeId}"></option>
                    </select>
                </div>
                <div>
                    <label class="form-check-label" for="propertyTypeId">Продолжительность</label>
                    <select id="planId" th:name="planId" class="form-select">
                        <option value="" th:selected="*{planId} == null">Не выбрано</option>
                        <option th:each="plan : ${plans}" th:text="${plan.name}" th:value="${plan.id}" th:selected="${plan.id} == *{planId}"></option>
                    </select>
                </div>
                <div class="d-flex justify-content-center pt-2">
                    <input class="btn btn-light" type="submit" value="Поиск"/>
                </div>
                <div class="d-flex justify-content-center pt-2">
                    <a class="btn btn-grey" th:href="@{/}">Сбросить</a>
                </div>
            </form>
        </div>

        <div id="result-block" class="d-flex justify-content-center">
            <div th:if="${not #lists.isEmpty(posts)}">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col">Тип объекта</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Залог</th>
                        <th scope="col">Длительность</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="post, stat : ${posts}">
                        <th scope="row" th:text="${stat.index} + 1"></th>
                        <td th:text="${post.name}">Название</td>
                        <td th:text="${post.property.type.name}">Тип объекта</td>
                        <td th:text="${post.price}">Цена</td>
                        <td th:text="${post.pledge}">Залог</td>
                        <td th:text="${post.plan.name}">Длительность</td>
                        <td><a class="link-dark" th:href="@{/post/{postId}(postId=${post.id})}">Открыть</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:unless="${not #lists.isEmpty(posts)}">
                Нет объявлений
            </div>
        </div>
    </div>
</body>
</html>